body {
  color: #585858;
  background-color: #fff;
}
a {
  color: #f24130;
}
a:hover {
  border-color: #f24130;
}
abbr {
  border-color: #585858;
}
button {
  color: #585858;
}
code {
  border-color: #e1e7ec;
}
pre {
  border-color: #e1e7ec;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #333;
}
dt {
  color: #333;
}
table thead th {
  color: #585858;
  background-color: #ccd5db;
}
table tbody > tr:nth-child(even) {
  background-color: #f5f5f5;
}
label {
  color: #333;
}
input,
select,
textarea {
  color: #585858;
  background-color: #f5f5f5;
}
input::-webkit-input-placeholder,
select::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: rgba(88, 88, 88, 0.8);
}
input:-moz-placeholder,
select:-moz-placeholder,
textarea:-moz-placeholder {
  color: rgba(88, 88, 88, 0.8);
}
input::-moz-placeholder,
select::-moz-placeholder,
textarea::-moz-placeholder {
  color: rgba(88, 88, 88, 0.8);
}
input:-ms-input-placeholder,
select:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: rgba(88, 88, 88, 0.8);
}
.quantity-field__btn {
  color: #fff;
  background-color: #5b3fbf;
}
.search-form__button {
  color: #f24130;
}
#header {
  background-color: #5b3fbf;
}
.header__inner {
  background-color: rgba(91, 63, 191, 0.7);
  background-image: linear-gradient(to bottom, rgba(242, 65, 48, 0.85), rgba(91, 63, 191, 0.6));
}
.header-branding {
  color: #fff;
}
.header-title__link {
  box-shadow: 0 0 0 0 #fff;
  color: #fff;
}
.header-title__link:hover {
  box-shadow: 0 2px 0 0 #fff;
}
.header-title__link:active {
  box-shadow: 0 0 0 0 #fff;
}
.header-tagline {
  color: rgba(255, 255, 255, 0.9);
}
.header-languages__toggle {
  color: #fff;
  border-color: rgba(255, 255, 255, 0.8);
}
.header-languages__toggle:hover {
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.8);
}
.header-languages__toggle:active {
  box-shadow: none;
}
.header-languages__list {
  box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.1);
  background-color: #fff;
}
.header-languages__list:before {
  border-bottom-color: #fff;
}
.header-languages__item-link {
  color: #585858;
}
.header-languages__item-link:hover {
  color: #f24130;
}
.header-languages__item-link:active {
  color: #585858;
}
@media (min-width: 1200px) {
  .header-menu__list > .header-menu__item--has-children:before {
    color: #fff;
  }
  .header-menu__list
    > .header-menu__item
    > .header-menu__item-link-wrapper
    > .header-menu__item-link {
    color: #fff;
  }
  .header-menu__list
    > .header-menu__item
    > .header-menu__item-link-wrapper
    > .header-menu__item-link:before {
    background-color: rgba(255, 255, 255, 0.25);
  }
  .header-menu__list
    > .header-menu__item--hover
    > .header-menu__item-link-wrapper
    > .header-menu__item-link:before,
  .header-menu__list
    > .header-menu__item
    > .header-menu__item-link-wrapper
    > .header-menu__item-link:hover:before {
    background-color: #fff;
  }
  .header-menu__list
    > .header-menu__item
    > .header-menu__item-link-wrapper
    > .header-menu__item-link:active:before {
    background-color: rgba(255, 255, 255, 0.5);
  }
  .header-menu__list
    > .header-menu__item--current
    > .header-menu__item-link-wrapper
    > .header-menu__item-link:before {
    background-color: #fff;
  }
  .header-menu__list > .header-menu__item > .header-menu__submenu {
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
    background-color: #fff;
  }
  .header-menu__list > .header-menu__item > .header-menu__submenu:before {
    border-right-color: #fff;
    border-left-color: #fff;
  }
  .header-menu__submenu .header-menu__item-link {
    box-shadow: 0 0 0 0 #333;
    color: #333;
  }
  .header-menu__submenu .header-menu__item-link:hover {
    box-shadow: 0 2px 0 0 #333;
  }
  .header-menu__submenu .header-menu__item-link:active {
    box-shadow: 0 0 0 0 #333;
  }
}
.header-search__toggle {
  color: #fff;
  border-color: rgba(255, 255, 255, 0.8);
}
.header-search__toggle:hover {
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.8);
}
.header-search__toggle:active {
  box-shadow: none;
}
.header-search__form:before {
  border-bottom-color: #fff;
}
.header-search .search-form__input {
  box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.1);
  background-color: #fff;
}
.header-panel {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.08);
}
.header-panel__toggle {
  color: #fff;
  background-color: #f24130;
}
.header-panel__toggle:hover {
  box-shadow: 0 0 0 1px #f24130;
}
.header-panel__toggle:active {
  box-shadow: none;
}
.header-cta__button {
  color: #333;
  background-color: #f2ec94;
}
.header-cta__button:hover {
  box-shadow: 0 0 0 1px #f2ec94;
}
.header-cta__button:active {
  box-shadow: none;
}
.header-contact a {
  box-shadow: 0 0 0 0 #fff;
  color: #fff;
}
.header-contact a:hover {
  box-shadow: 0 1px 0 0 #fff;
}
.header-contact a:active {
  box-shadow: 0 0 0 0 #fff;
}
.header-contact dt {
  color: #fff;
}
.header-social__item-link {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.25);
}
.header-social__item-link:hover {
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.25);
}
.header-social__item-link:active {
  box-shadow: none;
}
.header-panel__bottom-decor:after {
  background-color: rgba(255, 255, 255, 0.25);
}
.header-cart__button {
  color: #5b3fbf;
  background-color: #fff;
}
.header-cart__button:hover {
  box-shadow: 0 0 0 1px #fff;
}
.header-cart__button:active {
  box-shadow: none;
}
.header-cart__button-info {
  color: #fff;
  background-color: #f24130;
}
.page-header__subtitle {
  color: #8a949b;
}
.page-header__portrait-inner {
  background-color: #f24130;
  background-image: linear-gradient(to bottom, rgba(91, 63, 191, 0.7), transparent);
}
.breadcrumbs__link {
  box-shadow: 0 0 0 0 #8a949b;
  color: #8a949b;
}
.breadcrumbs__link:hover {
  box-shadow: 0 1px 0 0 #8a949b;
}
.breadcrumbs__link:active {
  box-shadow: 0 0 0 0 #8a949b;
}
.breadcrumbs__item:before {
  color: #8a949b;
}
.pagination__item--current {
  color: #585858;
  background-color: #e1e7ec;
}
.pagination__item--dots {
  color: #8a949b;
}
.pagination__item--prev .pagination__item-link,
.pagination__item--next .pagination__item-link {
  color: #8a949b;
}
.post-archive-categories {
  color: #333;
  border-color: #e1e7ec;
}
.post-archive-categories__item-link {
  color: #8a949b;
  box-shadow: 0 0 0 0 #f24130;
}
.post-archive-categories__item-link:hover {
  box-shadow: 0 2px 0 0 #f24130;
}
.post-archive-categories__item-link:active {
  box-shadow: 0 0 0 0 #f24130;
}
.post-navigation {
  border-color: #e1e7ec;
}
.post-navigation__title-link {
  color: #8a949b;
  box-shadow: 0 0 0 0 #ccd5db;
}
.post-navigation__title-link:hover {
  box-shadow: 0 2px 0 0 #ccd5db;
}
.post-navigation__title-link:active {
  box-shadow: 0 0 0 0 #ccd5db;
}
.post-navigation__link {
  box-shadow: 0 0 0 0 #f24130;
}
.post-navigation__link:hover {
  box-shadow: 0 2px 0 0 #f24130;
}
.post-navigation__link:active {
  box-shadow: 0 0 0 0 #f24130;
}
.blog-post-archive .sticky,
.blog-post-single .sticky {
  border-color: #f2ec94;
}
.blog-post-archive .post__title-link,
.blog-post-single .post__title-link {
  box-shadow: 0 0 0 0 #f24130;
  color: #333;
}
.blog-post-archive .post__title-link:hover,
.blog-post-single .post__title-link:hover {
  box-shadow: 0 2px 0 0 #f24130;
}
.blog-post-archive .post__title-link:active,
.blog-post-single .post__title-link:active {
  box-shadow: 0 0 0 0 #f24130;
}
.blog-post-archive .post__meta,
.blog-post-single .post__meta {
  color: #8a949b;
}
.blog-post-archive .post__meta-author-link,
.blog-post-archive .post__meta .post__meta-link,
.blog-post-single .post__meta-author-link,
.blog-post-single .post__meta .post__meta-link {
  color: #8a949b;
  box-shadow: 0 1px 0 0 #ccd5db;
}
.blog-post-archive .post__meta-author-link:hover,
.blog-post-archive .post__meta .post__meta-link:hover,
.blog-post-single .post__meta-author-link:hover,
.blog-post-single .post__meta .post__meta-link:hover {
  box-shadow: 0 2px 0 0 #ccd5db;
}
.blog-post-archive .post__meta-author-link:active,
.blog-post-archive .post__meta .post__meta-link:active,
.blog-post-single .post__meta-author-link:active,
.blog-post-single .post__meta .post__meta-link:active {
  box-shadow: 0 1px 0 0 #ccd5db;
}
.blog-post-archive .post__permalink-link,
.blog-post-single .post__permalink-link {
  box-shadow: 0 1px 0 0 #f24130;
}
.blog-post-archive .post__permalink-link:hover,
.blog-post-single .post__permalink-link:hover {
  box-shadow: 0 2px 0 0 #f24130;
}
.blog-post-archive .post__permalink-link:active,
.blog-post-single .post__permalink-link:active {
  box-shadow: 0 1px 0 0 #f24130;
}
.blog-post-archive .post {
  background-color: #fff;
  border-color: #e1e7ec;
}
.gallery-post-archive .post {
  background-color: #333;
}
.gallery-post-archive .post__inner {
  background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.85));
}
.gallery-post-archive .post:hover .post__bg {
  background-color: rgba(0, 0, 0, 0.4);
}
.gallery-post-archive .post:active .post__bg {
  background-color: rgba(0, 0, 0, 0.3);
}
.gallery-post-archive .post__title-link {
  color: #fff;
}
.gallery-post-archive .post:hover .post__title-link,
.gallery-post-archive .post__title-link:hover {
  box-shadow: 0 2px 0 0 #f24130;
}
.gallery-post-archive .post .post__title-link:active {
  box-shadow: 0 0 0 0 #f24130;
}
.gallery-post-archive .post__meta {
  color: #ccd5db;
  border-color: rgba(255, 255, 255, 0.1);
}
.gallery-post-archive .post__term-link {
  color: #ccd5db;
  box-shadow: 0 1px 0 0 #ccd5db;
}
.gallery-post-archive .post__term-link:hover {
  box-shadow: 0 2px 0 0 #ccd5db;
}
.gallery-post-archive .post__term-link:active {
  box-shadow: 0 1px 0 0 #ccd5db;
}
.gallery-post-archive .post__meta-images {
  color: #8a949b;
}
.person-post-page .post__contact-item-icon {
  color: #f24130;
}
.person-post-page .post__contact-item > a {
  box-shadow: 0 0 0 0 #f24130;
}
.person-post-page .post__contact-item > a:hover {
  box-shadow: 0 2px 0 0 #f24130;
}
.person-post-page .post__contact-item > a:active {
  box-shadow: 0 0 0 0 #f24130;
}
.person-post-page .post__social-link {
  color: #fff;
  background-color: #ccd5db;
}
.person-post-page .post__social-link:hover {
  background-color: #f24130;
}
.person-post-page .post__social-link:active {
  background-color: rgba(242, 65, 48, 0.8);
}
.person-post-archive .post {
  background-color: #fff;
  border-color: #e1e7ec;
}
.person-post-archive .post__thumbnail-link {
  background-color: #f24130;
  background-image: linear-gradient(to bottom, rgba(91, 63, 191, 0.7), transparent);
}
.person-post-archive .post__title-link {
  color: #333;
  box-shadow: 0 0 0 0 #f24130;
}
.person-post-archive .post__title-link:hover {
  box-shadow: 0 2px 0 0 #f24130;
}
.person-post-archive .post__title-link:active {
  box-shadow: 0 0 0 0 #f24130;
}
.person-post-archive .post__subtitle {
  color: #8a949b;
}
.person-post-single .post__thumbnail {
  border-color: #f24130;
}
.person-post-single .post__contact {
  border-color: #e1e7ec;
}
.product-post-archive .post {
  background-color: #fff;
  border-color: #e1e7ec;
}
.product-post-archive .post__title-link {
  box-shadow: 0 0 0 0 #f24130;
  color: #333;
}
.product-post-archive .post__title-link:hover {
  box-shadow: 0 2px 0 0 #f24130;
}
.product-post-archive .post__title-link:active {
  box-shadow: 0 0 0 0 #f24130;
}
.product-post-single .post__form {
  border-color: #e1e7ec;
}
.product-post-single .post__stock--in-stock {
  color: #367b30;
  background-color: #d4fbd3;
}
.product-post-single .post__stock--on-order {
  color: #ac6819;
  background-color: #fff4cf;
}
.product-post-single .post__stock--unavailable {
  color: #d40041;
  background-color: #ffdfe0;
}
.product-post-single .post__price-current {
  color: #f24130;
}
.product-post-single .post__content {
  border-color: #e1e7ec;
}
.product-post-order .product-cart__item {
  border-color: #e1e7ec;
}
.product-post-order .product-cart__item-title-link {
  box-shadow: 0 0 0 0 #f24130;
}
.product-post-order .product-cart__item-title-link:hover {
  box-shadow: 0 2px 0 0 #f24130;
}
.product-post-order .product-cart__item-title-link:active {
  box-shadow: 0 0 0 0 #f24130;
}
.product-post-order .product-cart__item-status--in-stock {
  color: #367b30;
  background-color: #d4fbd3;
}
.product-post-order .product-cart__item-status--on-order {
  color: #ac6819;
  background-color: #fff4cf;
}
.product-post-order .product-cart__item-status--unavailable {
  color: #d40041;
  background-color: #ffdfe0;
}
.product-post-order .product-cart__item-remove-btn {
  color: #f24130;
  border-color: #f24130;
}
.product-post-order .product-cart__summary {
  border-color: #e1e7ec;
}
.product-post-order .product-cart__total-label {
  color: #8a949b;
}
.product-post-order .product-cart__total-price {
  color: #333;
}
.product-post-order .product-order__footer {
  border-color: #e1e7ec;
}
.product-post-order .product-order__footer-back-link {
  box-shadow: 0 0 0 0 #f24130;
  color: #8a949b;
}
.product-post-order .product-order__footer-back-link:hover {
  box-shadow: 0 2px 0 0 #f24130;
}
.product-post-order .product-order__footer-back-link:active {
  box-shadow: 0 0 0 0 #f24130;
}
.service-post-archive .post {
  background-color: #fff;
  border-color: #e1e7ec;
}
.service-post-archive .post__icon {
  color: #fff;
  background-color: #f24130;
}
.service-post-archive .post__title-link {
  color: #333;
  box-shadow: 0 0 0 0 #f24130;
}
.service-post-archive .post__title-link:hover {
  box-shadow: 0 2px 0 0 #f24130;
}
.service-post-archive .post__title-link:active {
  box-shadow: 0 0 0 0 #f24130;
}
.service-post-archive .post__meta {
  color: #8a949b;
}
.service-post-archive .post__meta .post__term-link {
  color: #8a949b;
  box-shadow: 0 1px 0 0 #ccd5db;
}
.service-post-archive .post__meta .post__term-link:hover {
  box-shadow: 0 2px 0 0 #ccd5db;
}
.service-post-archive .post__meta .post__term-link:active {
  box-shadow: 0 1px 0 0 #ccd5db;
}
.service-post-archive .post__permalink-link {
  box-shadow: 0 1px 0 0 #f24130;
}
.service-post-archive .post__permalink-link:hover {
  box-shadow: 0 2px 0 0 #f24130;
}
.service-post-archive .post__permalink-link:active {
  box-shadow: 0 1px 0 0 #f24130;
}
.testimonial-post-page .post__quote {
  color: #585858;
}
.testimonial-post-page .post__thumbnail-link {
  border-color: #f24130;
}
.testimonial-post-page .post__thumbnail-link:hover {
  box-shadow: 0 0 0 1px #f24130;
}
.testimonial-post-page .post__thumbnail-link:active {
  box-shadow: none;
}
.testimonial-post-page .post__title,
.testimonial-post-page .post__title-link {
  color: #333;
}
.testimonial-post-page .post__title-link {
  box-shadow: 0 0 0 0 #f24130;
}
.testimonial-post-page .post__title-link:hover {
  box-shadow: 0 2px 0 0 #f24130;
}
.testimonial-post-page .post__title-link:active {
  box-shadow: 0 0 0 0 #f24130;
}
.testimonial-post-page .post__title-description {
  color: #8a949b;
}
.testimonial-post-archive .post {
  background-color: #fff;
  border-color: #e1e7ec;
}
.testimonial-post-single .post__thumbnail > img {
  border-color: #f24130;
}
.search-results-page__item {
  border-color: #e1e7ec;
}
.search-results-page__item-type {
  color: #8a949b;
}
.search-results-page__item-title-link {
  box-shadow: 0 0 0 0 #f24130;
}
.search-results-page__item-title-link:hover {
  box-shadow: 0 2px 0 0 #f24130;
}
.search-results-page__item-title-link:active {
  box-shadow: 0 0 0 0 #f24130;
}
.error-404-page__title {
  color: #e1edf9;
}
.error-404-page__button-link {
  color: #333;
  box-shadow: 0 1px 0 0 #f24130;
}
.error-404-page__button-link:hover {
  box-shadow: 0 2px 0 0 #f24130;
}
.error-404-page__button-link:active {
  box-shadow: 0 1px 0 0 #f24130;
}
.widget__title {
  color: #8a949b;
  border-color: #e1e7ec;
}
.widget__more {
  border-color: #f5f5f5;
}
.widget__more-link {
  color: #8a949b;
  box-shadow: unset;
  box-shadow: 0 0 0 0 #8a949b;
}
.widget__more-link:hover {
  box-shadow: 0 1px 0 0 #8a949b;
}
.widget__more-link:active {
  box-shadow: 0 0 0 0 #8a949b;
}
.lsvr-post-featured-widget .widget__content {
  border-color: #e1e7ec;
  background-color: #fff;
}
.lsvr-post-featured-widget__content-inner {
  border-color: #e1e7ec;
}
.lsvr-post-featured-widget__title-link {
  color: #333;
  box-shadow: 0 0 0 0 #f24130;
}
.lsvr-post-featured-widget__title-link:hover {
  box-shadow: 0 2px 0 0 #f24130;
}
.lsvr-post-featured-widget__title-link:active {
  box-shadow: 0 0 0 0 #f24130;
}
.lsvr-post-featured-widget__date,
.lsvr-post-featured-widget__category {
  color: #8a949b;
}
.lsvr-post-featured-widget__category-link {
  color: #8a949b;
  box-shadow: 0 1px 0 0 #ccd5db;
}
.lsvr-post-featured-widget__category-link:hover {
  box-shadow: 0 2px 0 0 #ccd5db;
}
.lsvr-post-featured-widget__category-link:active {
  box-shadow: 0 1px 0 0 #ccd5db;
}
.lsvr-product-featured-widget .widget__content {
  border-color: #e1e7ec;
  background-color: #fff;
}
.lsvr-product-featured-widget__title-link {
  color: #333;
  box-shadow: 0 0 0 0 #f24130;
}
.lsvr-product-featured-widget__title-link:hover {
  box-shadow: 0 2px 0 0 #f24130;
}
.lsvr-product-featured-widget__title-link:active {
  box-shadow: 0 0 0 0 #f24130;
}
.lsvr-testimonial-featured-widget__content {
  border-color: #e1e7ec;
}
.lsvr-testimonial-featured-widget__thumb-link {
  border-color: #f24130;
}
.lsvr-testimonial-featured-widget__thumb-link:hover {
  box-shadow: 0 0 0 1px #f24130;
}
.lsvr-testimonial-featured-widget__thumb-link:active {
  box-shadow: none;
}
.lsvr-testimonial-featured-widget__author-link {
  color: #585858;
  box-shadow: 0 0 0 0 #f24130;
}
.lsvr-testimonial-featured-widget__author-link:hover {
  box-shadow: 0 2px 0 0 #f24130;
}
.lsvr-testimonial-featured-widget__author-link:active {
  box-shadow: 0 0 0 0 #f24130;
}
.lsvr-testimonial-featured-widget__author-description {
  color: #8a949b;
}
.lsvr-gallery-list-widget__item {
  border-color: #f5f5f5;
}
.lsvr-gallery-list-widget__item-title-link {
  color: #333;
  box-shadow: 0 0 0 0 #f24130;
}
.lsvr-gallery-list-widget__item-title-link:hover {
  box-shadow: 0 2px 0 0 #f24130;
}
.lsvr-gallery-list-widget__item-title-link:active {
  box-shadow: 0 0 0 0 #f24130;
}
.lsvr-gallery-list-widget__item-date,
.lsvr-gallery-list-widget__item-count {
  color: #8a949b;
}
.lsvr-person-list-widget__item {
  border-color: #f5f5f5;
}
.lsvr-person-list-widget__item-thumb-link {
  background-color: #f24130;
  background-image: linear-gradient(to bottom, rgba(91, 63, 191, 0.7), transparent);
}
.lsvr-person-list-widget__item-title-link {
  color: #333;
  box-shadow: 0 0 0 0 #f24130;
}
.lsvr-person-list-widget__item-title-link:hover {
  box-shadow: 0 2px 0 0 #f24130;
}
.lsvr-person-list-widget__item-title-link:active {
  box-shadow: 0 0 0 0 #f24130;
}
.lsvr-person-list-widget__item-subtitle {
  color: #8a949b;
}
.lsvr-person-list-widget__item-social-link {
  color: #fff;
  background-color: #ccd5db;
}
.lsvr-person-list-widget__item-social-link:hover {
  background-color: #f24130;
}
.lsvr-person-list-widget__item-social-link:active {
  background-color: rgba(242, 65, 48, 0.8);
}
.lsvr-post-list-widget__item {
  border-color: #f5f5f5;
}
.lsvr-post-list-widget__item-title-link {
  color: #333;
  box-shadow: 0 0 0 0 #f24130;
}
.lsvr-post-list-widget__item-title-link:hover {
  box-shadow: 0 2px 0 0 #f24130;
}
.lsvr-post-list-widget__item-title-link:active {
  box-shadow: 0 0 0 0 #f24130;
}
.lsvr-post-list-widget__item-date,
.lsvr-post-list-widget__item-category {
  color: #8a949b;
}
.lsvr-post-list-widget__item-category-link {
  color: #8a949b;
  box-shadow: 0 1px 0 0 #ccd5db;
}
.lsvr-post-list-widget__item-category-link:hover {
  box-shadow: 0 2px 0 0 #ccd5db;
}
.lsvr-post-list-widget__item-category-link:active {
  box-shadow: 0 1px 0 0 #ccd5db;
}
.lsvr-product-list-widget__item {
  border-color: #f5f5f5;
}
.lsvr-product-list-widget__item-title-link {
  box-shadow: 0 0 0 0 #f24130;
  color: #333;
}
.lsvr-product-list-widget__item-title-link:hover {
  box-shadow: 0 2px 0 0 #f24130;
}
.lsvr-product-list-widget__item-title-link:active {
  box-shadow: 0 0 0 0 #f24130;
}
.lsvr-product-list-widget__total {
  border-color: #f5f5f5;
}
.lsvr-service-list-widget__item-icon {
  color: #f24130;
}
.lsvr-service-list-widget__item-link {
  color: #333;
  box-shadow: 0 0 0 0 #f24130;
}
.lsvr-service-list-widget__item-link:hover {
  box-shadow: 0 2px 0 0 #f24130;
}
.lsvr-service-list-widget__item-link:active {
  box-shadow: 0 0 0 0 #f24130;
}
.lsvr-service-list-widget__item--current {
  background-color: #f24130;
}
.lsvr-service-list-widget__item--current .lsvr-service-list-widget__item-icon,
.lsvr-service-list-widget__item--current .lsvr-service-list-widget__item-link {
  color: #fff;
  box-shadow: 0 0 0 0 #fff;
}
.lsvr-service-list-widget__item--current .lsvr-service-list-widget__item-icon:hover,
.lsvr-service-list-widget__item--current .lsvr-service-list-widget__item-link:hover {
  box-shadow: 0 2px 0 0 #fff;
}
.lsvr-service-list-widget__item--current .lsvr-service-list-widget__item-icon:active,
.lsvr-service-list-widget__item--current .lsvr-service-list-widget__item-link:active {
  box-shadow: 0 0 0 0 #fff;
}
.footer-widgets {
  color: #fff;
  background-color: #222;
}
.footer-widgets a {
  color: #fff;
}
.footer-widgets__inner {
  background-color: rgba(34, 34, 34, 0.95);
}
.footer-widgets .widget__title {
  color: #fff;
}
.footer-bottom__inner {
  border-color: #e1e7ec;
}
.footer-bottom a {
  box-shadow: 0 0 0 0 #f24130;
}
.footer-bottom a:hover {
  box-shadow: 0 2px 0 0 #f24130;
}
.footer-bottom a:active {
  box-shadow: 0 0 0 0 #f24130;
}
.lsvr-accordion__item {
  border-color: #e1e7ec;
  background-color: #fff;
}
.lsvr-accordion__item-header:before {
  color: #f24130;
}
.lsvr-accordion__item--expanded .lsvr-accordion__item-header {
  background-color: #f5f5f5;
}
.lsvr-accordion__item-content-wrapper {
  border-color: #e1e7ec;
}
.lsvr-accordion__item-footer-permalink-link {
  color: #8a949b;
  box-shadow: 0 1px 0 0 #ccd5db;
}
.lsvr-accordion__item-footer-permalink-link:hover {
  box-shadow: 0 2px 0 0 #ccd5db;
}
.lsvr-accordion__item-footer-permalink-link:active {
  box-shadow: 0 1px 0 0 #ccd5db;
}
.lsvr-alert-message {
  color: #265e88;
  background-color: #e1edf9;
}
.lsvr-alert-message--warning {
  color: #d40041;
  background-color: #ffdfe0;
}
.lsvr-alert-message--success {
  color: #367b30;
  background-color: #d4fbd3;
}
.lsvr-alert-message--notification {
  color: #ac6819;
  background-color: #fff4cf;
}
.lsvr-button {
  color: #fff;
  background-color: #f24130;
}
.lsvr-button:hover {
  box-shadow: 0 0 0 1px #f24130;
}
.lsvr-button:active {
  box-shadow: none;
}
.lsvr-button--type-2 {
  color: #f24130;
  background-color: transparent;
  border-color: #f24130;
}
.lsvr-button--type-2:hover {
  box-shadow: inset 0 0 0 1px #f24130;
}
.lsvr-button--type-2:active {
  box-shadow: none;
}
.lsvr-counter__number {
  color: #f24130;
}
.lsvr-cta__text {
  color: #8a949b;
}
.lsvr-cta--has-dark-background .lsvr-cta__inner {
  background-color: #f5f5f5;
}
.lsvr-definition-list__item-title,
.lsvr-definition-list__item-text {
  border-color: #e1e7ec;
}
.lsvr-definition-list__item-title-link,
.lsvr-definition-list__item-text-link {
  box-shadow: 0 1px 0 0 #f24130;
}
.lsvr-definition-list__item-title-link:hover,
.lsvr-definition-list__item-text-link:hover {
  box-shadow: 0 2px 0 0 #f24130;
}
.lsvr-definition-list__item-title-link:active,
.lsvr-definition-list__item-text-link:active {
  box-shadow: 0 1px 0 0 #f24130;
}
.lsvr-faq__header:before {
  background-color: #f24130;
  background-image: linear-gradient(to bottom, transparent, rgba(91, 63, 191, 0.4));
}
.lsvr-faq__title-link {
  box-shadow: 0 0 0 0 #f24130;
  color: #333;
}
.lsvr-faq__title-link:hover {
  box-shadow: 0 2px 0 0 #f24130;
}
.lsvr-faq__title-link:active {
  box-shadow: 0 0 0 0 #f24130;
}
.lsvr-faq__subtitle {
  color: #8a949b;
}
.lsvr-faq__subtitle a {
  box-shadow: 0 0 0 0 #f24130;
}
.lsvr-faq__subtitle a:hover {
  box-shadow: 0 2px 0 0 #f24130;
}
.lsvr-faq__subtitle a:active {
  box-shadow: 0 0 0 0 #f24130;
}
.lsvr-faq--has-dark-background .lsvr-faq__inner {
  background-color: #f5f5f5;
}
.lsvr-feature__icon {
  color: #f24130;
}
.lsvr-feature__title-link {
  color: #333;
  box-shadow: 0 0 0 0 #f24130;
}
.lsvr-feature__title-link:hover {
  box-shadow: 0 2px 0 0 #f24130;
}
.lsvr-feature__title-link:active {
  box-shadow: 0 0 0 0 #f24130;
}
.lsvr-feature__more-link {
  box-shadow: 0 1px 0 0 #f24130;
}
.lsvr-feature__more-link:hover {
  box-shadow: 0 2px 0 0 #f24130;
}
.lsvr-feature__more-link:active {
  box-shadow: 0 1px 0 0 #f24130;
}
.lsvr-form__field-input--error {
  border-color: #d40041;
}
.lsvr-intro__subtitle {
  color: #8a949b;
}
.lsvr-intro__subtitle a {
  box-shadow: 0 0 0 0 #f24130;
}
.lsvr-intro__subtitle a:hover {
  box-shadow: 0 2px 0 0 #f24130;
}
.lsvr-intro__subtitle a:active {
  box-shadow: 0 0 0 0 #f24130;
}
.lsvr-posts__header:before {
  background-color: #f24130;
  background-image: linear-gradient(to bottom, transparent, rgba(91, 63, 191, 0.4));
}
.lsvr-posts__title-link {
  box-shadow: 0 0 0 0 #f24130;
  color: #333;
}
.lsvr-posts__title-link:hover {
  box-shadow: 0 2px 0 0 #f24130;
}
.lsvr-posts__title-link:active {
  box-shadow: 0 0 0 0 #f24130;
}
.lsvr-posts__subtitle {
  color: #8a949b;
}
.lsvr-posts__subtitle a {
  box-shadow: 0 0 0 0 #f24130;
}
.lsvr-posts__subtitle a:hover {
  box-shadow: 0 2px 0 0 #f24130;
}
.lsvr-posts__subtitle a:active {
  box-shadow: 0 0 0 0 #f24130;
}
.lsvr-posts__post-title-link {
  box-shadow: 0 0 0 0 #f24130;
  color: #333;
}
.lsvr-posts__post-title-link:hover {
  box-shadow: 0 2px 0 0 #f24130;
}
.lsvr-posts__post-title-link:active {
  box-shadow: 0 0 0 0 #f24130;
}
.lsvr-posts__post-meta {
  color: #8a949b;
}
.lsvr-posts__post-meta a {
  color: #8a949b;
  box-shadow: 0 1px 0 0 #ccd5db;
}
.lsvr-posts__post-meta a:hover {
  box-shadow: 0 2px 0 0 #ccd5db;
}
.lsvr-posts__post-meta a:active {
  box-shadow: 0 1px 0 0 #ccd5db;
}
.lsvr-posts__post-permalink-link {
  box-shadow: 0 1px 0 0 #f24130;
}
.lsvr-posts__post-permalink-link:hover {
  box-shadow: 0 2px 0 0 #f24130;
}
.lsvr-posts__post-permalink-link:active {
  box-shadow: 0 1px 0 0 #f24130;
}
.lsvr-posts--has-dark-background .lsvr-posts__inner {
  background-color: #f5f5f5;
}
.lsvr-pricing-table {
  border-color: #e1e7ec;
}
.lsvr-pricing-table__title {
  color: #fff;
  background-color: #5b3fbf;
}
.lsvr-pricing-table__price-value {
  color: #f24130;
}
.lsvr-pricing-table__price-description {
  color: #8a949b;
}
.lsvr-pricing-table__text {
  border-color: #e1e7ec;
}
.lsvr-progress-bar__bar {
  background-color: #e1e7ec;
}
.lsvr-progress-bar__bar-inner {
  background-color: #f24130;
  background-image: linear-gradient(to right, rgba(91, 63, 191, 0.6), transparent);
}
.lsvr-services__header:before {
  background-color: #f24130;
  background-image: linear-gradient(to bottom, transparent, rgba(91, 63, 191, 0.4));
}
.lsvr-services__title-link {
  box-shadow: 0 0 0 0 #f24130;
  color: #333;
}
.lsvr-services__title-link:hover {
  box-shadow: 0 2px 0 0 #f24130;
}
.lsvr-services__title-link:active {
  box-shadow: 0 0 0 0 #f24130;
}
.lsvr-services__subtitle {
  color: #8a949b;
}
.lsvr-services__subtitle a {
  box-shadow: 0 0 0 0 #f24130;
}
.lsvr-services__subtitle a:hover {
  box-shadow: 0 2px 0 0 #f24130;
}
.lsvr-services__subtitle a:active {
  box-shadow: 0 0 0 0 #f24130;
}
.lsvr-services__post-bg {
  color: #fff;
  background-color: #333;
}
.lsvr-services__item--has-thumbnail .lsvr-services__post-inner {
  background-color: rgba(0, 0, 0, 0.6);
}
.lsvr-services__post-icon {
  color: #fff;
}
.lsvr-services__post-title-link {
  color: #fff;
}
.lsvr-services__item:hover .lsvr-services__post-title-link {
  box-shadow: 0 2px 0 0 #f24130;
}
.lsvr-services__item:active .lsvr-services__post-title-link {
  box-shadow: 0 0 0 0 #f24130;
}
.lsvr-services__post-meta {
  color: #ccd5db;
}
.lsvr-services__post-meta .post__term-link {
  color: #ccd5db;
}
.lsvr-services__post-description {
  background-color: rgba(242, 65, 48, 0.95);
}
.lsvr-services--has-dark-background .lsvr-services__inner {
  background-color: #f5f5f5;
}
.lsvr-slide-list__item-content-inner {
  background-color: #fff;
}
.lsvr-slide-list__item-content-inner:before {
  background-color: #fff;
}
.lsvr-slide-list__item-text {
  color: #8a949b;
}
.lsvr-slide-list__nav-button {
  color: #fff;
  background-color: #f24130;
}
.lsvr-slide-list__nav-button:hover {
  box-shadow: 0 0 0 1px #f24130;
}
.lsvr-separator {
  border-color: #e1e7ec;
}
.lsvr-tabs {
  border-color: #e1e7ec;
}
.lsvr-tabs__header-item--active .lsvr-tabs__header-item-link {
  color: #333;
}
.lsvr-tabs__header-item-link {
  color: #8a949b;
  box-shadow: 0 0 0 0 #f24130;
}
.lsvr-tabs__header-item-link:hover {
  box-shadow: 0 2px 0 0 #f24130;
}
.lsvr-tabs__header-item-link:active {
  box-shadow: 0 0 0 0 #f24130;
}
.lsvr-tabs__content {
  border-color: #e1e7ec;
}
.lsvr-testimonials__header:before {
  background-color: #f24130;
  background-image: linear-gradient(to bottom, transparent, rgba(91, 63, 191, 0.4));
}
.lsvr-testimonials__title-link {
  box-shadow: 0 0 0 0 #f24130;
  color: #333;
}
.lsvr-testimonials__title-link:hover {
  box-shadow: 0 2px 0 0 #f24130;
}
.lsvr-testimonials__title-link:active {
  box-shadow: 0 0 0 0 #f24130;
}
.lsvr-testimonials__subtitle {
  color: #8a949b;
}
.lsvr-testimonials__subtitle a {
  box-shadow: 0 0 0 0 #f24130;
}
.lsvr-testimonials__subtitle a:hover {
  box-shadow: 0 2px 0 0 #f24130;
}
.lsvr-testimonials__subtitle a:active {
  box-shadow: 0 0 0 0 #f24130;
}
.lsvr-testimonials__post {
  border-color: #e1e7ec;
  background-color: #fff;
}
.lsvr-testimonials__post-quote {
  color: #585858;
}
.lsvr-testimonials__post-thumbnail-link {
  border-color: #f24130;
}
.lsvr-testimonials__post-thumbnail-link:hover {
  box-shadow: 0 0 0 1px #f24130;
}
.lsvr-testimonials__post-thumbnail-link:active {
  box-shadow: none;
}
.lsvr-testimonials__post-title {
  color: #333;
}
.lsvr-testimonials__post-title-link {
  color: #333;
  box-shadow: 0 0 0 0 #f24130;
}
.lsvr-testimonials__post-title-link:hover {
  box-shadow: 0 2px 0 0 #f24130;
}
.lsvr-testimonials__post-title-link:active {
  box-shadow: 0 0 0 0 #f24130;
}
.lsvr-testimonials__post-title-description {
  color: #8a949b;
}
.lsvr-testimonials__footer {
  border-color: #e1e7ec;
}
.lsvr-testimonials--has-dark-background .lsvr-testimonials__inner {
  background-color: #f5f5f5;
}
.lsvr-sidebar--has-dark-background .lsvr-sidebar__inner {
  background-color: #f5f5f5;
}
@media (max-width: 1199px) {
  .header-languages__list {
    box-shadow: none;
    background-color: #333;
  }
  .header-languages__item-link {
    color: #fff;
  }
  .header-menu__list
    > .header-menu__item
    > .header-menu__item-link-wrapper
    > .header-menu__item-link {
    color: #fff;
  }
  .header-menu__list
    > .header-menu__item
    > .header-menu__item-link-wrapper
    > .header-menu__item-link:before {
    background-color: rgba(255, 255, 255, 0.25);
  }
  .header-menu__list
    > .header-menu__item--hover
    > .header-menu__item-link-wrapper
    > .header-menu__item-link:before,
  .header-menu__list
    > .header-menu__item
    > .header-menu__item-link-wrapper
    > .header-menu__item-link:hover:before {
    background-color: #fff;
  }
  .header-menu__list
    > .header-menu__item
    > .header-menu__item-link-wrapper
    > .header-menu__item-link:active:before {
    background-color: rgba(255, 255, 255, 0.5);
  }
  .header-menu__list
    > .header-menu__item--active
    > .header-menu__item-link-wrapper
    > .header-menu__item-link:before,
  .header-menu__list
    > .header-menu__item--current
    > .header-menu__item-link-wrapper
    > .header-menu__item-link:before {
    background-color: #fff;
  }
  .header-menu__submenu .header-menu__item-link {
    box-shadow: 0 0 0 0 #fff;
    color: #fff;
  }
  .header-menu__submenu .header-menu__item-link:hover {
    box-shadow: 0 2px 0 0 #fff;
  }
  .header-menu__submenu .header-menu__item-link:active {
    box-shadow: 0 0 0 0 #fff;
  }
  .header-menu__submenu-toggle {
    color: #fff;
    border-color: rgba(255, 255, 255, 0.25);
  }
  .header-menu__submenu-toggle:hover,
  .header-menu__submenu-toggle--active {
    border-color: #fff;
  }
  .header-menu__submenu-toggle:active {
    border-color: rgba(255, 255, 255, 0.5);
  }
  .header-contact {
    border-color: rgba(255, 255, 255, 0.25);
  }
  .header-mobile-toggle {
    color: #fff;
    border-color: rgba(255, 255, 255, 0.8);
  }
  .header-mobile-toggle:hover {
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.8);
  }
  .header-mobile-toggle:active {
    box-shadow: none;
  }
}
@media (max-width: 767px) {
  .product-post-single .post__form {
    border-color: #e1e7ec;
  }
}
@media (max-width: 480px) {
  .header-panel__bottom {
    border-color: rgba(255, 255, 255, 0.25);
  }
}
